# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\workspace\github\kaikeba\3.VIP课程\2020-10-19（class文件、类加载)\课件\jvm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
